/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @Descripttion: tag组件样式
 */
@import '../../styles/mixins/bem.mixin.scss';
@import '../../styles/mixins/index.mixin.scss';

:host {
  display: inline-block;
}

// .nv-tag
@include b(tag) {
  display: inline-block;
  height: var(--nv-tag-height-medium);
  padding: var(--nv-tag-padding-medium);
  line-height: var(--nv-tag-line-height-medium);
  font-size: var(--nv-tag-font-size-medium);
  color: var(--nv-tag-font-color-default);
  border: 1px solid var(--nv-tag-border-color-default);
  border-radius: var(--nv-tag-border-radius);
  box-sizing: border-box;
  background-color: var(--nv-tag-background-color-default);
  white-space: nowrap;

  // 关闭按钮
  &__close {
    border-radius: var(--nv-tag-close-border-radius);
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: var(--nv-tag-close-font-size);
    height: var(--nv-tag-close-height);
    width: var(--nv-tag-close-width);
    line-height: var(--nv-tag-close-line-height);
    vertical-align: middle;
    top: var(--nv-tag-close-top);
    right: var(--nv-tag-close-right);
    color: var(--nv-tag-close-color);
    transition: color 0.2s;

    &:hover {
      color: var(--nv-tag-close-color-hover);
    }
  }

  // 类型变体
  &--success {
    background-color: var(--nv-tag-background-color-success-light);
    border-color: var(--nv-tag-border-color-success-light);
    color: var(--nv-tag-font-color-success);

    &.is-dark {
      background-color: var(--nv-tag-background-color-success-dark);
      border-color: var(--nv-tag-border-color-success-dark);
      color: var(--nv-tag-font-color-success-dark);
    }

    &.is-light {
      background-color: var(--nv-tag-background-color-success-light);
      border-color: var(--nv-tag-border-color-success-light);
      color: var(--nv-tag-font-color-success);
    }

    &.is-plain {
      background-color: var(--nv-tag-background-color-success-plain);
      border-color: var(--nv-tag-border-color-success-plain);
      color: var(--nv-tag-font-color-success);
    }
  }

  &--info {
    background-color: var(--nv-tag-background-color-info-light);
    border-color: var(--nv-tag-border-color-info-light);
    color: var(--nv-tag-font-color-info);

    &.is-dark {
      background-color: var(--nv-tag-background-color-info-dark);
      border-color: var(--nv-tag-border-color-info-dark);
      color: var(--nv-tag-font-color-info-dark);
    }

    &.is-light {
      background-color: var(--nv-tag-background-color-info-light);
      border-color: var(--nv-tag-border-color-info-light);
      color: var(--nv-tag-font-color-info);
    }

    &.is-plain {
      background-color: var(--nv-tag-background-color-info-plain);
      border-color: var(--nv-tag-border-color-info-plain);
      color: var(--nv-tag-font-color-info);
    }
  }

  &--warning {
    background-color: var(--nv-tag-background-color-warning-light);
    border-color: var(--nv-tag-border-color-warning-light);
    color: var(--nv-tag-font-color-warning);

    &.is-dark {
      background-color: var(--nv-tag-background-color-warning-dark);
      border-color: var(--nv-tag-border-color-warning-dark);
      color: var(--nv-tag-font-color-warning-dark);
    }

    &.is-light {
      background-color: var(--nv-tag-background-color-warning-light);
      border-color: var(--nv-tag-border-color-warning-light);
      color: var(--nv-tag-font-color-warning);
    }

    &.is-plain {
      background-color: var(--nv-tag-background-color-warning-plain);
      border-color: var(--nv-tag-border-color-warning-plain);
      color: var(--nv-tag-font-color-warning);
    }
  }

  &--error {
    background-color: var(--nv-tag-background-color-error-light);
    border-color: var(--nv-tag-border-color-error-light);
    color: var(--nv-tag-font-color-error);

    &.is-dark {
      background-color: var(--nv-tag-background-color-error-dark);
      border-color: var(--nv-tag-border-color-error-dark);
      color: var(--nv-tag-font-color-error-dark);
    }

    &.is-light {
      background-color: var(--nv-tag-background-color-error-light);
      border-color: var(--nv-tag-border-color-error-light);
      color: var(--nv-tag-font-color-error);
    }

    &.is-plain {
      background-color: var(--nv-tag-background-color-error-plain);
      border-color: var(--nv-tag-border-color-error-plain);
      color: var(--nv-tag-font-color-error);
    }
  }

  // 尺寸变体
  &.is-mini {
    height: var(--nv-tag-height-mini);
    padding: var(--nv-tag-padding-mini);
    line-height: var(--nv-tag-line-height-mini);
    font-size: var(--nv-tag-font-size-mini);

    .nv-tag__close {
      transform: scale(var(--nv-tag-close-scale-mini));
    }
  }

  &.is-small {
    height: var(--nv-tag-height-small);
    padding: var(--nv-tag-padding-small);
    line-height: var(--nv-tag-line-height-small);
    font-size: var(--nv-tag-font-size-small);

    .nv-tag__close {
      transform: scale(var(--nv-tag-close-scale-small));
    }
  }

  &.is-medium {
    height: var(--nv-tag-height-medium);
    padding: var(--nv-tag-padding-medium);
    line-height: var(--nv-tag-line-height-medium);
    font-size: var(--nv-tag-font-size-medium);
  }

  &.is-large {
    height: var(--nv-tag-height-large);
    padding: var(--nv-tag-padding-large);
    line-height: var(--nv-tag-line-height-large);
    font-size: var(--nv-tag-font-size-large);
  }

  &.is-huge {
    height: var(--nv-tag-height-huge);
    padding: var(--nv-tag-padding-huge);
    line-height: var(--nv-tag-line-height-huge);
    font-size: var(--nv-tag-font-size-huge);
  }

  // 描边
  &.is-hit {
    border-color: var(--nv-tag-hit-border-color);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-left: 1px solid var(--nv-tag-hit-border-color);
      border-radius: 0 0 0 0;
    }
  }
}

