/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @Descripttion: back-top组件变量
 */
:root {
  --nv-back-top-right: 40px;
  --nv-back-top-bottom: 40px;
  --nv-back-top-z-index: 1000;
  --nv-back-top-width: 40px;
  --nv-back-top-height: 40px;
  --nv-back-top-background-color: #fff;
  --nv-back-top-color: #409EFF;
  --nv-back-top-border-radius: 50%;
  --nv-back-top-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  --nv-back-top-transition-duration: 0.3s;
  --nv-back-top-background-color-hover: #409EFF;
  --nv-back-top-color-hover: #fff;
}

