/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @Descripttion: infinite-scroll组件变量
 */
:root {
  --nv-infinite-scroll-loader-padding: 16px;
  --nv-infinite-scroll-loader-text-color: #909399;
  --nv-infinite-scroll-loader-text-font-size: 14px;
}

