/*
 * @Descripttion: breadcrumb组件开放的CSS变量
 * @creater: zhengpeng.ren
 * @since: 2026-02-12
 */
:root {
  --nv-breadcrumb-font-size: 14px;
  --nv-breadcrumb-line-height: 22px;
  --nv-breadcrumb-color: var(--nv-neutral-color-font-2);
}
