/*
 * @Descripttion: 注意：占位符名不能用驼峰命名法，否则无法正确扩展，只能是全小写或使用中划线连接
 * @creater: zhengpeng.ren
 * @since: 2024-05-27 16:44:30
 * @LastAuthor: zhengpeng.ren
 * @lastTime: 2024-06-11 13:59:04
 */
 
%flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

%flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

%absolute-after {
  position: absolute;
  content: '';
  top: auto ;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
}