/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @Descripttion: skeleton组件变量
 */
:root {
  --nv-skeleton-background-color: #f2f2f2;
  --nv-skeleton-background-color-active: #e6e6e6;
  --nv-skeleton-border-radius: 4px;
  --nv-skeleton-avatar-margin-right: 16px;
  --nv-skeleton-avatar-size-large: 40px;
  --nv-skeleton-avatar-size-medium: 32px;
  --nv-skeleton-avatar-size-small: 24px;
  --nv-skeleton-title-height: 16px;
  --nv-skeleton-title-margin-bottom: 16px;
  --nv-skeleton-title-width: 40%;
  --nv-skeleton-paragraph-margin-bottom: 16px;
  --nv-skeleton-text-height: 16px;
  --nv-skeleton-text-last-width: 60%;
}

