/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @Descripttion: divider组件变量
 */
:root {
  --nv-divider-margin: 20px 0;
  --nv-divider-border-width: 1px;
  --nv-divider-border-color: #dcdfe6;
  --nv-divider-background-color: #fff;
  --nv-divider-font-color: #909399;
  --nv-divider-font-size: 14px;
  --nv-divider-vertical-margin: 8px;
}

