/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @Descripttion: statistic组件变量
 */
:root {
  --nv-statistic-title-margin-bottom: 4px;
  --nv-statistic-title-color: rgba(0, 0, 0, 0.45);
  --nv-statistic-title-font-size: 14px;
  --nv-statistic-title-line-height: 1.5;
  --nv-statistic-value-color: rgba(0, 0, 0, 0.85);
  --nv-statistic-value-font-size: 24px;
  --nv-statistic-value-font-weight: 600;
  --nv-statistic-value-line-height: 1.5;
  --nv-statistic-prefix-margin-right: 4px;
  --nv-statistic-prefix-color: rgba(0, 0, 0, 0.85);
  --nv-statistic-prefix-font-size: 24px;
  --nv-statistic-suffix-margin-left: 4px;
  --nv-statistic-suffix-color: rgba(0, 0, 0, 0.85);
  --nv-statistic-suffix-font-size: 24px;
}

