/*
 * @Descripttion: alert组件开放的CSS变量
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @lastTime: 2024-12-19
 */
 :root {
    --nv-components-block-connector: '-';
    --nv-components-element-connector: '__';
    --nv-components-modifier-connector: '--';
 }
 