/*
 * @Descripttion: timeline组件开放的CSS变量
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 */
:root {
  /***************************************************** size start *********************************************************/

  /**************** font-size *****************/
  --nv-timeline-font-size: var(--nv-font-size-medium);

  /***************************************************** size end *********************************************************/

  /***************************************************** color start *********************************************************/

  /***************************************************** color end ********************************************************/
}

