/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @Descripttion: result组件变量
 */
:root {
  --nv-result-padding: 48px 32px;
  --nv-result-icon-margin-bottom: 24px;
  --nv-result-icon-size: 72px;
  --nv-result-icon-color-info: #909399;
  --nv-result-icon-color-success: #67C23A;
  --nv-result-icon-color-warning: #E6A23C;
  --nv-result-icon-color-error: #F56C6C;
  --nv-result-title-margin-bottom: 16px;
  --nv-result-title-font-size: 20px;
  --nv-result-title-font-weight: 500;
  --nv-result-title-color: #303133;
  --nv-result-title-line-height: 1.5;
  --nv-result-sub-title-margin-bottom: 24px;
  --nv-result-sub-title-font-size: 14px;
  --nv-result-sub-title-color: #909399;
  --nv-result-sub-title-line-height: 1.5;
  --nv-result-content-margin-bottom: 24px;
  --nv-result-extra-margin-top: 24px;
}

