/*
 * @Descripttion: checkbox-group组件开放的CSS变量
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 */
:root {
  /***************************************************** size start *********************************************************/

  /**************** spacing *****************/
  --nv-checkbox-group-spacing: 30px;

  /***************************************************** size end *********************************************************/

  /***************************************************** color start *********************************************************/

  /***************************************************** color end ********************************************************/
}

