/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @Descripttion: avatar组件变量
 */
:root {
  --nv-avatar-size-large: 56px;
  --nv-avatar-size-medium: 40px;
  --nv-avatar-size-small: 24px;
  --nv-avatar-font-size-large: 20px;
  --nv-avatar-font-size-medium: 14px;
  --nv-avatar-font-size-small: 12px;
  --nv-avatar-font-color: #fff;
  --nv-avatar-font-family: inherit;
  --nv-avatar-font-weight: normal;
  --nv-avatar-background-color: #c0c4cc;
  --nv-avatar-border-radius: 4px;
}

