/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @Descripttion: tooltip组件变量
 */
:root {
  --nv-tooltip-background-color: #303133;
  --nv-tooltip-font-color: #fff;
  --nv-tooltip-border-radius: 4px;
  --nv-tooltip-padding: 8px 12px;
  --nv-tooltip-font-size: 12px;
  --nv-tooltip-line-height: 1.5;
  --nv-tooltip-max-width: 200px;
}

